/* 
** The Header Media Queries **
** Tweak as per your needs **
*/
@import url(http://fonts.googleapis.com/earlyaccess/notosansjp.css);
body{
  font-family:'Noto Sans JP' , sans-serif;
}
/* 基本スタイル（PC向けスタイル） */
@media screen and (max-width:1024px) {
  /* タブレット向けスタイル　*/
  .motto {
    width:10%;
    max-width:500px
  }
  .motto-sentences {
    display:  inline-block; 
    width:30%;
    padding:100px;
  }
  }
  @media screen and (max-width: 540px) {
  /* モバイル向けスタイル */
  }
.brand {
    font-weight: bold;
    font-size: 20px; }
   
  .site-header {
    position: relative;
    background-color: #def7ff; }
   
  .site-header__wrapper {
    padding-top: 1rem;
    padding-bottom: 1rem; }
    @media (min-width: 600px) {
      .site-header__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 0;
        padding-bottom: 0; } }
  @media (min-width: 600px) {
    .nav__wrapper {
      display: flex; } }
   
  @media (max-width: 599px) {
    .nav__wrapper {
      position: absolute;
      top: 100%;
      right: 0;
      left: 0;
      z-index: -1;
      background-color: #d9f0f7;
      visibility: hidden;
      opacity: 0;
      transform: translateY(-100%);
      transition: transform 0.3s ease-out, opacity 0.3s ease-out; }
      .nav__wrapper.active {
        visibility: visible;
        opacity: 1;
        transform: translateY(0); } }
   
  .nav__item a {
    display: block;
    padding: 1.5rem 1rem; }
   
  .nav__toggle {
    display: none; }
    @media (max-width: 599px) {
      .nav__toggle {
        display: block;
        position: absolute;
        right: 1rem;
        top: 1rem; } }
  .logo {
        transform: rotate( -90deg );
        width: 100%;
        
  }
  .logo-p {
    width:5%;
    position:relative;
    left: 15%;
  }
  ul{
  padding-left:0;
}

li{
  list-style:none;
}

.nav__toggle{
  width:10%;
}
.hamburger{
  width:100%;
}
  
.back-ground-image {
  background-image: url(bgi.png);
  background-repeat: repeat;
  height: 100%
}
.motto-text {
  display:  inline-block;                         /* インラインブロックにする */
  padding: 10px 20px;                             /* 余白指定 */
  background-color: rgb(255, 235, 136);     /* 背景色指定 */
  font-size:175%;
}
.motto {
  text-align:  center;    /* 文字中央寄せ */
  padding:  150px;        /* 余白指定 */      /* 枠線指定 */
}
.motto {
  display:  inline-block; 
  background-image: url(science.png);
  background-size:contain;
  height:200px;
  width:25%;
  background-repeat: no-repeat;
}
.motto-sentences {
  display:  inline-block; 
  width:30%;
  padding:100px;
}
.news {
  display: flex;
justify-content: center;
}
.news-frame {
  width:75%;
  height:375px;
}
.important{
    text-decoration: #f00 wavy underline; /* 色,波線,線を引く場所を指定 */
}
.howtonyubu{
  width: 50%;
  padding-top:5%;
}
.title-nyubu{
  display: flex;
justify-content: center;
text-align:center;
}
.nyubu-honbun{
  display: flex;
justify-content: center;
text-align:center;
height:10%;
}
.htn-img{
  display: flex;
justify-content: center;
text-align:center;
}
.title-nyubu{
  padding:50px;
}